MLOPS_TRACKING_CONN_ID="duckdb_astrotrips"
AIRFLOW_API_BASE_URL=http://api-server:8080
AIRFLOW_CONN_DUCKDB_ASTROTRIPS='{
    "conn_type":"duckdb",
    "host":"include/astrotrips.duckdb"
}'

AIRFLOW_CONN_PYDANTICAI_DEFAULT='{
    "conn_type":"pydanticai",
    "password":"<your AI API key>",
    "extra":{
        "model": "openai:gpt-5-mini"  # Change if you are using a differnet model provider
    }
}'